// Specific CSS for your home-page

body {
  font-family: "Roboto Mono";
}

.fullpage {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  // justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // align-items: center;
  // justify-items: center;
}
.two, .three, .four {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.one {
  background-color: #FABC3C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  h1 {
    margin-left: 40%;
  }
  p {
    margin-left: 20%;
    margin-bottom: 0px;
  }
}

.two {
  background-color: #F58A07;
}

.three {
  background-color: #496A81;
}

.four {
  background-color: #DFDFDF;
  a {
    text-decoration: none;
    color: black;
  }
}

.fa-brands, .fa-solid {
  margin-right: 16px;
}
