// Specific CSS for your home-page

body {
  font-family: "Roboto Mono";
}

.fullpage {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  // justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // align-items: center;
  // justify-items: center;
}
.two, .three, .four {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.one {
  background-color: #FABC3C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  h1 {
    // margin-bottom: 0px;
  }
  p {
    margin-left: 20%;
    margin-bottom: 0px;
  }
}

.two {
  background-color: #F58A07;
  p {
    font-family: "Exo";
  }
}

.three {
  background-color: #496A81;
}

.four {
  background-color: #DFDFDF;
  a {
    text-decoration: none;
    color: black;
  }
}

.fa-brands, .fa-solid {
  margin-right: 16px;
}

hr {
  margin-top: -27px;
  padding: 0;
  border-top: 5px solid black;
  z-index: 999;
}

.section-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#typed-strings {
  align-items: flex-start;
}

.contact-icon:hover {
  color: rgba(0, 0, 0, 0.7);
}

.profile-text {
  text-align: justify;
  margin: 16px 16px 32px 16px;
  p {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
