@media (max-width: 800px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .header-upper {
    padding-top: 32px;
  }
}

@media (max-width: 800px) {
  .one {
    background-color: #FABC3C;
    margin-top: 40%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    h1 {
      margin-left: 0%;
    }
    p {
      margin-left: 0%;
      margin-top: -300px;
    }
  }
}
