@media (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .header-upper {
    padding-top: 32px;
  }
}

@media (max-width: 900px) {
  .one {
    background-color: #FABC3C;
    margin-top: 40%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    h1 {
      margin-left: 0%;
    }
    p {
      margin-left: 0%;
      margin-top: -400px;
    }
  }
}

@media (max-width: 900px) {
  #typed-strings {
    align-items: center;
  }
}

@media (max-width: 900px) {
  .two .header-container {
    order: 1;
    flex-shrink: 1;
  }
  .two .section-content {
    order: 2;
    flex-grow: 1;
  }
  .four .header-container {
    order: 1;
  }
  .four .section-content {
    order: 2;
  }
}

// @media (max-width: 1200px) and (min-width: 1000px) {
//   .two .header-container{
//     flex: 60%;
//   }
// }

// @media (max-width: 1000px) and (min-width: 900px) {
//   .two .header-container{
//     flex: 50%;
//   }
// }

@media (max-width: 900px) {
  .two .header-container {
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .photo-hide {
    display: none;
  }
}

// @media (max-width: 600px) and (min-width: 500px) {
//   .two {
//     height: 120vh;
//   }
// }

@media (max-width: 500px) and (min-width: 410px) {
  .two {
    height: 110vh;
  }
}

@media (max-width: 410px) and (min-width: 390px) {
  .two {
    height: 120vh;
  }
}

@media (max-width: 390px) {
  .two {
    height: 130vh;
  }
}

@media (min-width: 600px) {
  .photo-container {
    margin-bottom: 32px;
  }
}
