<div class="fullpage">
	<div class="section one" data-controller="typed">
    <div class="header-container">
      <h1 class="section-header header-upper">HELLO</h1>
      <hr>
    </div>
    <div id="typed-strings" class="section-content">
      <p><span class="typed"> </span></p>
    </div>
    <script>
        var typed = new Typed(".typed",{
        strings: [,  "Welcome to my profile","Nice to meet you, my name is Jess","I'm a FS Web Developer in training","Scroll down to find out more"],
        typeSpeed: 40,
        backSpeed: 10,
        loop: true
        })
    </script>
  </div>

	<div class="section two">
    <div class="section-content">
    </div>
    <div class="header-container">
      <h1 class="section-header header-lower"><a id="about-me">ABOUT ME</a></h1>
      <hr>
    </div>
  </div>

	<div class="section three">
    <div class="header-container">
      <h1 class="section-header header-upper"><a id="projects">PROJECTS</a><h1>
      <hr>
    </div>
    <div class="section-content">

      <div class="project-card">
        <div class="project-title">
          <%= link_to image_tag('fanfind.png'), "https://www.fan-find.com", target: "_blank", class: "project-logo" %>
          <a href="https://www.fan-find.com", target="_blank"><h3 class="project-header">Fan Find</h3></a>
        </div>
        <div>
          <a class="collapsible" onclick="changeIcon(this)"><i class="fa-solid fa-square-plus"></i></a>
          <p class="collapsible-content">Mobile first web application that helps sports fans find the right people and the right place to watch the games of their team. Features include AJAX searching, filtering, chatroom, mapbox. Built using Ruby on Rails, Figma, HTML, CSS and Javascript.<br> Group project at Le Wagon.</p>
        </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <%= link_to image_tag('shart.png'), class: "project-logo" %>
          <h3 class="project-header">shART</h3>
        </div>
        <div>
          <a class="collapsible" onclick="changeIcon(this)"><i class="fa-solid fa-square-plus"></i></a>
          <p class="collapsible-content">Marketplace bringing together those with artwork to rent and those looking to rent artwork for events, occasions, public spaces etc. Built using Ruby on Rails, HTML, CSS and Javascript. <br> Group project at Le Wagon.</p>
          </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <i class="fa-solid fa-clapperboard"></i>
          <h3 class="project-header">Watchlist</h3>
        </div>
        <div>
          <a class="collapsible" onclick="changeIcon(this)"><i class="fa-solid fa-square-plus"></i></a>
          <p class="collapsible-content">Site for organising movies into lists based on genre. Users can browse lists, create a new list and add a movie to any list. Built using Ruby on Rails, HTML, CSS and Javascript. <br> Solo project.</p>
          </div>
      </div>

    </div>
  </div>

	<div class="section four header-lower">
    <div class="section-content">
      <div>
        <p><i class="fa-solid fa-envelope"></i>jesspates@hotmail.co.uk</p>
        <a href="https://www.linkedin.com/in/jess-pates/" target="_blank"><p class="contact-icon"><i class="fa-brands fa-linkedin"></i>jess-pates</p></a>
        <a href="https://github.com/jpates2" target="_blank"><p class="contact-icon"><i class="fa-brands fa-square-github"></i>jpates2</p></a>
      </div>
    </div>
    <div class="header-container">
      <h1 class="section-header"><a id="contact">CONTACT</a></h1>
      <hr>
    </div>
  </div>

  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      let content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }

  function changeIcon(anchor) {
    var icon = anchor.querySelector("i");
    icon.classList.toggle('fa-square-plus');
    icon.classList.toggle('fa-square-minus');

    anchor.querySelector("span").textContent = icon.classList.contains('fa-square-plus') ? "Read more" : "Read less";
  }
  </script>

</div>
