<div id="fullpage">
	<div class="section section-header">HELLO</div>
	<div class="section section-header"><a id="about-me">ABOUT ME</a></div>
	<div class="section section-header"><a id="projects">PROJECTS</a></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
	<div class="section section-header"><a id="contact">CONTACT</a></div>
</div>
