.project-card {
  background-color: #DFDFDF;
  width: 360px;
  margin-bottom: 24px;
  padding: 16px 16px 0px 16px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.2);
  h3 {
    font-family: "Roboto Mono";
    font-size: 24px;
    margin: 0px;
  }
  .fa-solid {
    font-size: 32px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.project-header:hover {
  color: #496A81;
}

.project-title {
  display: flex;
  align-items: center;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #DFDFDF;
  width: 100%;
  padding-top: 8px;
  font-family: "Exo";
}

.collapsible {
  outline: none;
  cursor: pointer;
  float: right;
  margin-top: -30px;
  margin-right: -16px;
}

.project-logo:hover {
  transform: scale(1.2);
}
