.project-card {
  img {
    height: 32px;
    margin-right: 16px;
  }
}

.profile-photo {
  height: 20vh;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.photo-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
